@font-face {
    font-family: Georgia;
    src: url(../../assets/fonts/fonts/georgia/georgia-regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Arial;
    src: url(../../assets/fonts/fonts/arial/arial-regular.ttf);
    font-weight: 400;
}

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    

}

.header_container{
    max-width: 1280;
    padding: 0 40px;
    margin: 0 auto;
}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, .6);
    z-index: 1;
}

.burger_menu{
    display: none;
}

.burger_line{
    height: 2px;
    width: 30px;
    background-color: #000000;
  }


.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}


/*Header styles start*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: #FFFFFF;
    height: 120px;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding:30px 0px 30px 0px;
    
}

.title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  color: #545454;
  letter-spacing: 0.06em;

}
.subtitle{
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    color: #292929;
}

.title_link{
    color: #545454;
    text-decoration: none;
}

.subtitle_link{
    color: #292929;
    text-decoration: none;
}

.header_list{
   display: flex;
   flex-wrap: wrap; 
}
.header_item{
   margin: 16px 35px 17px 0; 
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-weight: 400;
    font-size: 15px;
    color: #545454;
    line-height: 24px;
    text-decoration: none;
    
}


.header_link:hover, .header_link:focus{
    color: #292929;
}
.header_link:active{
    
    border-bottom: 3px solid#F1CDB3 ;

}

.header_link:active, .header_link.active{
    color: #292929;;
    border-bottom: 3px solid#F1CDB3 ;
}

/*Header styles end*/

/*Main styles start*/

.pets{   
    background: #f6f6f6;;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0px 100px 0;
    height: 1462px;
} 

.pets_title{
    max-width: 400px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-bottom:45px;
}

.cards_container{
    
    height: 930px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.card_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    margin: 15px 0px 15px 0px;

   
}
.card_title{
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
   letter-spacing: 0.06em;
   color: #545454;
   padding: 30px 0px 30px 0px;
   
   
}

.card_button{
    height: 52px;
    background: #FAFAFA;
    padding: 13px 45px 17px 45px;
    color: #292929;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
   
    cursor: pointer;

    
}

.card_box:hover , .card_box:focus , .card_box:active{
    cursor: pointer;
    background: #FFFFFF;
}

.card_box:hover .card_button, .card_box:focus .card_button, .card_box:active  .card_button{
    background: #FDDCC4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.nav_container{
    display: flex;
    justify-content: space-between;
    max-width: 340px;
    width: 100%;
    margin: auto;
    padding-top: 45px;
}



.pagination_button{
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
   letter-spacing: 0.06em;
   border-radius: 100px;
   width: 52px;
   height: 52px;
   cursor: pointer;
   border: 2px solid #CDCDCD;
   color: #CDCDCD;
}

.active_button{
    border: 2px solid #F1CDB3;
    color: #292929;
    background: #F6F6F6;

}

.active_button:focus, .active_button:hover {
    background: #F1CDB3;
    border: none;
    outline: none;
}

.active_button:active, .active_button.active{
    background: #F1CDB3;
    border-bottom: 3px solid#F1CDB3 ;
    cursor: default;
}






/*Main styles end*/

.footer{
    background: url(../../assets/img/start-screen-gradient-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    flex-shrink: 0;
    
}

.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left_title{
width: 282px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 35px;
line-height: 45px;
color: #FFFFFF;
text-align: left;
letter-spacing: 0.06em;
}

.right_title{
    width: 270px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    color: #FFFFFF;
    text-align: left;
    letter-spacing: 0.06em;
    
    
    }

.contacts{
    padding: 16px 160px 60px 0px;  
}     

.locations{
    padding: 16px 160px 60px 0px;
}

.mail_box{
    max-width: 251px;
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:40px 0px 40px 0px;
    
}
.mail_text{
max-width: 191px;
width: 100%;
height: 23px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #F1CDB3;
text-decoration: none;
letter-spacing: 0.06em;

}

.tel_box{
    width: 239px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.tel_number{
width: 180px;
height: 23px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #F1CDB3;
text-decoration: none;
letter-spacing: 0.06em;
}

.boston_box{
    width: 302px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 34px 0px 32px 0px;
}

.boston_text{
    width: 260px;
    height: 46px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #F1CDB3;
    text-decoration: none;
    letter-spacing: 0.06em;
    
}

.london_box{
    max-width: 302px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.london_text{
    width: 260px;
    height: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
    letter-spacing: 0.06em;
}

/*Media  styles start*/

@media(max-width: 1279px){
    .wrapper{
        max-width: 708px;
        margin: 0 auto;
    }

    .header_wrapper{
        padding: 30px 0px 30px 0px;
        
    }
    
    .header_container{
        padding: 0 30px;
        margin: 0 auto;
    }

    

    .pets{
        height: 1853px;
        padding: 200px 0px 70px 0px;
        
    }

    .pets_title{
        padding-bottom: 30px;
    }
     
    .card_box{
        margin: 0;
        
    }

    .nav_container{
        position: relative;
        top: 475px;
        padding-top: 0;
        
    }

    .cards_container{
        width: 580px;
        gap:30px 40px;
        margin: auto;
    }

    .card_box:nth-child(7){
        display: none;
    }

    .card_box:nth-child(8){
        display: none;
    }

    .card_button{
        margin-bottom: 30px;
        
    }
    
    .footer{
        padding-top: 30px;
        height: 639px;
     }
     .footer_container{
         margin: 0 auto;
         flex-wrap: wrap;
         justify-content: space-around;
         max-width: 768px;
         
     }
     
     .contacts{
         padding:0px;
         
     }
     .locations{
         padding:0px;
         
     }
       
     .footer_puppy{
       padding-top: 65px;
     }
     

}

@media(max-width: 767px){
    
    .wrapper{
        max-width: 300px;
        margin: 0 auto;
    }
  
    .header_wrapper{
        padding: 30px 43px 30px 0px;
        
        
    }

  

    .header_container{
        
        padding: 0 10px;
        margin: 0 auto;
    }

    .header_nav{
        position: fixed;
        flex-direction: column;
        height: 7000px;
        top: 0;
        margin: 0;
        right: -325px;
        transition: 2s;
    }

    header.open{
        position: relative;
        z-index: auto;
    }
    
    .header_nav.open{
        width: 320px;
        right: 0px;
        z-index: 2;
        transition: 1s;
    }
    
    .header_list{
        flex-direction: column;
        text-align: center;
        background-color: #FFFFFF;
        width: 320px;
        height: 100%;
        padding: 207px 0 0 0;
    }
    
    .body.open{
        overflow-y: hidden;
    
    }
    
    .header_logo.open {
        z-index: 3;
        transition: 0.5s;
        opacity: 0;
        
      }

     
    
      .act_logo {
        display: block;
        z-index: 3;
        padding-top: 30px;
        padding-left: 10px;
        position: absolute;
      }
    
      .header_logo {
        transition: 2.5s;
        opacity: 1;
      }
    
      

      .header_item{
        margin: 0;
        margin-top: 41px;
    }

      
    
      .header_link {
        font-size: 32px;
        line-height: 51px;
      }
    
      .header_link.active {
        padding-bottom: 6px;
      }
    
      .burger_menu {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        z-index: 2;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        transform: 1.5s;
      }
    
      .burger_menu .burger_line {
        width: 30px;
        height: 9.1%;
        display: block;
      }
    
      .burger_menu.open {
        position: relative;
        transform: rotate(90deg);
        transform: 1s;
      }
    
      .overlay.active {
        display: block;
      }
    
    

    
    .subtitle{
        
        letter-spacing: 0.1em;
        margin-left: 4px;
    }

   

     
    .pets{
        height: 1769px;
        padding: 162px 0px 42px 0px;
    }

    .pets_title{
        padding-bottom: 42px;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
    }
     
    .card_box{
        margin: 0;
        
    }

    .nav_container{
        position: relative;
        top: 475px;
        padding-top: 0;
    }

    .cards_container{
        
        width: 270px;
        gap:30px;
        margin: auto;
    }

    .card_box:nth-child(4){
        display: none;
    }
    
    .card_box:nth-child(5){
        display: none;
    }

    .card_box:nth-child(6){
        display: none;
    }

    .card_box:nth-child(7){
        display: none;
    }

    .card_box:nth-child(8){
        display: none;
    }

    
    /*Problem starts*/

    .footer{
        height: 809px;
        padding: 0;
    }
    
    .footer_container{
        height: 809px;
        gap: 40px;
        padding-top: 30px;
        
        
        
    }

    .footer_puppy{
        padding: 0;
    }

    .footer_puppy_img{
        width: 260px;
        height: 269px;
    }

    .left_title{
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
    }

    .right_title{
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
        margin: auto;
       

    }

    .mail_box{
       margin: 40px 20px 40px 13px;
    }

    .tel_box{
        margin: auto;
    }

    .boston_box{
        margin: 40px 0px 40px 0px;
    }

    .locations{
        margin-top: -2px;
        margin-left: 3px;
    }
}