@font-face {
    font-family: Arial;
    src: url(../../assets/fonts/fonts/arial/arial-regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Arial;
    src: url(../../assets/fonts/fonts/arial/arial-italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Georgia;
    src: url(../../assets/fonts/fonts/georgia/georgia-regular.ttf);
    font-weight: 400;
}

html{
    box-sizing: border-box;
    height: 100%;
}
*, *::before, *::after{
    box-sizing: inherit;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.burger_menu{
    display: none;
}

.act_logo{
    display: none;
}

.link{
    text-decoration: none;
}

.main{
    flex: 1 0 auto;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    max-width: 1280;
    padding: 0 40px;
    margin: 0 auto;
}

/*Header styles start*/
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    
}

.title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
  

}

.title_url1{
    color: #F1CDB3;
    text-decoration: none;
    
}

.title_url2{
    color: #FFFFFF;
    text-decoration: none;
    
}

.subtitle{
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    
}
.header_list{
   display: flex;
   flex-wrap: wrap; 
}
.header_item{
   margin: 16px 35px 17px 0; 
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-weight: 400;
    font-size: 15px;
    color: #CDCDCD;
    line-height: 24px;
    text-decoration: none;
    
    
}
.header_link:hover, .header_link:focus{
    color: #fafafa;
}
.header_link:active, .header_link.active{
    color: #fafafa;
    border-bottom: 3px solid#F1CDB3 ;
}







.burger_line{
     height: 2px;
     width: 30px;
     background-color: #F1CDB3;
   }

/*Header styles end*/

/*Intro styles start*/

.intro{
   
    background:url(../../assets/img/start-screen-gradient-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 180px;
    
    
   
}

.intro_title{
    max-width: 310px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    padding-bottom: 42px;
    

}

.intro_subtitle{
    max-width: 460px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    padding-bottom: 42px;
}

.button{
    background-color: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    outline: none;
    border: none;
    cursor: pointer;
}

.button:hover, .button:focus{
    background-color: #FDDCC4;
}

.intro_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro_container{
    padding-top: 163px;
    max-width: 460px;
    width: 100%;
}

.img_container{
    height: auto;
    max-width: 698px;
    width: 100%;
}
/*Intro styles end*/

/*About styles start*/

.about {
    background: #FFFFFF;
    padding-bottom: 100px;
   
}

.about_wrapper{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about_img_container{
    height: auto;
    width: 300px;
    width: 100%;
    padding-left: 175px;
    
}

.about_container{
    height: auto;
    width: 430px;
    width: 100%;
    padding:14px 175px 14px 0;
    
}
.about_title{
    width: 370px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 25px;
}
.about_subtitle1{
    width: 430px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
    padding-bottom: 25px;
}

.about_subtitle2{
    width: 430px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C; 
}
/*About styles end*/

/*Our friends styles start*/
.friends{
    background: #F6F6F6;
    padding: 80px 0px 100px 0px;
    
}


.friends_title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.arrow{
    
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    
    
}

.arrow:focus , .arrow:hover{
    background: #FDDCC4;
    border:none;
    outline: none;
}

.friends_slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.card_container{
    display: flex;
    padding: 0px 53px;
    justify-content: space-between;
    flex-grow: 1;
    height: 435px;
}

.card_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
   
}

.card_box:hover , .card_box:focus , .card_box:active{
    cursor: pointer;
    background: #FFFFFF;
}

.card_box:hover .card_button, .card_box:focus .card_button, .card_box:active  .card_button{
    background: #FDDCC4;

}


.card_title{
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
   letter-spacing: 0.06em;
   color: #545454;
   padding: 30px 0px 30px 0px;
   
   
}

.card_button{
    background: #FAFAFA;
    padding: 15px 45px;
    color: #292929;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.friends_button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    width: 261px;
    height: 52px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    background: #F1CDB3;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    outline: none;
    border: none;
    text-decoration: none;

    
   
    
}

.friends_button:hover, .button:focus{
        background-color: #FDDCC4;
        border: 0;
        outline: none;
    }
/*Our friends styles end*/

/*Help  styles start*/
.help {
    background: #FFFFFF;
    padding: 80px 0px 100px 0px;
}

.help_title{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 35px;
line-height: 45px;
letter-spacing: 0.06em;
color: #545454;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 60px;
}

.help_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 55px 120px;
   
}


.icon_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.icon_title{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.06em;
color: #545454;

}

.help_img{
    height: 60px;
    width: 60px;
    
}


/*Help  styles end*/

/*Dontation  styles end*/

.donation{
    background: #F6F6F6;
    padding: 90px 0 90px;
}

.donation_container{
  height: 282px;
  display: flex;
  align-items: center;
  padding:80px 142px 100px 143px ;

}

.puppy_img{
   padding-right: 30px;
}



.donation_title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-bottom: 20px;

}

.donation_subtitle{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #545454;
  padding-bottom: 29px;
 
}

.donation_button{
    position: relative;
    padding: 10px 15px 10px 60px;
    background: #F1CDB3;
    border-radius: 9px;
     outline: none;
    border:none;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    
    
    
   
}

.credit_num{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #545454;
}

.donation_button::before{
    background-image:url(../../assets/icons/credit-card.svg) ;
    position: absolute;
    top: 10px;
    left: 15px;
    content: '';
    width: 30px;
    height: 23px;
    
    
}

.donation_button:focus, .donation_button:hover{
    background-color: #FDDCC4;
    border: 0;
    outline: none;
}


.legal_info{
    max-width: 380px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    text-align: left;
    padding-top: 27px;
    
}
/*Donation  styles end*/

/*Footer  styles start*/

.footer{
    background: url(../../assets/img/start-screen-gradient-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    flex-shrink: 0;
    
}

.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left_title{
width: 282px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 35px;
line-height: 45px;
color: #FFFFFF;
text-align: left;
letter-spacing: 0.06em;
}

.right_title{
    width: 270px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    color: #FFFFFF;
    text-align: left;
    letter-spacing: 0.06em;
    
    
    }

.contacts{
    padding: 16px 152px 60px 0px;  
}     

.locations{
    padding: 16px 152px 60px 0px;
}

.mail_box{
    max-width: 251px;
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:40px 0px 40px 0px;
    
}
.mail_text{
max-width: 191px;
width: 100%;
height: 23px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #F1CDB3;
text-decoration: none;
letter-spacing: 0.06em;

}

.tel_box{
    width: 239px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.tel_number{
width: 180px;
height: 23px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #F1CDB3;
text-decoration: none;
letter-spacing: 0.06em;
}

.boston_box{
    width: 302px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 34px 0px 32px 0px;
}

.boston_text{
    width: 260px;
    height: 46px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #F1CDB3;
    text-decoration: none;
    letter-spacing: 0.06em;
    
}

.london_box{
    max-width: 302px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.london_text{
    width: 260px;
    height: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
    letter-spacing: 0.06em;
}




/*Footer  styles end*/

/*Media  styles start*/

@media(max-width: 1279px){
    .wrapper{
        max-width: 708px;
        margin: 0 auto;
    }

    .container{
        padding: 0 30px;
        margin: 0 auto;
    }
    
  
    .header_wrapper{
      padding: 30px 0px 30px 0px;
      
  }

  .intro{
      padding-top: 150px;
  }
   
  .intro_wrapper{
      flex-wrap: wrap;
      height: 1015px;
      width: 569px;
      margin: auto;
     
  }

  .intro_container{
      height: 322px;
      width: 460px;
      padding: 0px;
      margin: auto;
  }

  .button{
    display: block;
    margin: auto;
  }
  
  .img_container{
      padding:  100px 0px 0px 70px ;
    
  }
  
  .start_puppy {
      width: 569px;
      height: 593px;
      
      
  }
    
  .about{
      padding-bottom: 0px;
      height:1048px;
      
      margin: auto;
      
  }
  
  .about_wrapper{
    padding:80px 0px 100px 0px;
    flex-direction: column;
    height: 1048px;
    width: 437px;
    margin: auto;
   
    
    
  }

  .about_container{
      padding: 0px 0px 0px 5px;
  }

  .about_img_container{
      order: 3;
      padding: 0px;
      padding-left: 69px;
      
 }

 .friends{
     height: 877px;
     
     padding: 80px 0px 100px 0px;
     margin: auto;
     
 }

.card_container{
    padding: 0px 12px 0px 12px;
}    


 .card_box:last-child{
     display: none;
 }
  
 .help{
     height: 779px;
     padding:80px 0px 100px 0px ;
 }

 .help_container{
     max-width: 630px;
     gap: 55px 60px;
     margin: auto;
 }

 .icon_container{
     width: 170px;
    
 }

 .donation{
     height: 783px;
     padding: 80px 0px 100px 0px;

 }

 .donation_container{
     flex-direction: column;
     padding:0px;
 }

 .puppy_img{
     order: 2;
     padding: 0px;
 }

 .dontation_puppy{
     padding-top: 60px;
 }

.footer{
   padding-top: 30px;
   height: 639px;
}
.footer_container{
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 768px;
    
}

.contacts{
    padding:0px;
    
}
.locations{
    padding:0px;
    
}
  
.footer_puppy{
  padding-top: 65px;
}

.waiting_puppy{
    
    height: 310px;
    width: 300px;
    

} 

.donation_subtitle{
    padding-bottom: 30px;
}
  
.legal_info{
    padding-top: 30px;
}
  
}


@media(max-width: 767px){
    .wrapper{
        max-width: 300px;
        margin: 0 auto;
    }

    .container{
        
        padding: 0 10px;
        margin: 0 auto;
    }
  
    .header_wrapper{
        padding: 30px 43px 0px 0px;
        
    }


    
  
  .intro{
    padding-top: 150px;
    
    margin: auto;
  }

  .intro_wrapper{
    flex-wrap: wrap;
    height: 673px;
    width: 300px;
    margin: auto;
   
} 

.header_nav{
    position: fixed;
    flex-direction: column;
    height: 7000px;
    top: 0;
    margin: 0;
    right: -325px;
    transition: 2s;
}

.header_nav.open{
    width: 320px;
    right: 0px;
    z-index: 2;
    transition: 1s;
}

.header_list{
    flex-direction: column;
    text-align: center;
    background-color: #292929;
    width: 320px;
    height: 100%;
    padding: 248px 0 0 0;
}

.body.open{
    overflow-y: hidden;

}

.header_logo.open {
    z-index: 3;
    transition: 0.5s;
    opacity: 0;
  }

  .act_logo {
    display: block;
    z-index: 3;
    padding-top: 30px;
    padding-left: 10px;
    position: absolute;
  }

  .header_logo {
    transition: 2.5s;
    opacity: 1;
  }

  .header_item+.header_item {
    margin-left: 0;
    margin-top: 41px;
  }

  .header_link {
    font-size: 32px;
    line-height: 51px;
  }

  .header_link.active {
    padding-bottom: 6px;
  }

  .burger_menu {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    z-index: 2;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: 1.5s;
  }

  .burger_menu .burger_line {
    width: 30px;
    height: 9.1%;
    display: block;
  }

  .burger_menu.open {
    position: relative;
    transform: rotate(90deg);
    transform: 1s;
  }

  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, .6);
    z-index: 1;
  }



.intro_container{
    
    height: 296px;
    width: 300px;
    padding: 0px;
    margin: auto;
}

.img_container{
    padding:  105px 0px 0px 40px ;
  
}

.start_puppy {
    width: 260px;
    height: 271.77px;
    
    
}

.intro_title{
    
    font-size: 25px;
    letter-spacing: 0.06em;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 130%;
    margin: 0;

}
  
.intro_subtitle{
    text-align: center;
}

.about{
    padding-bottom: 0px;
    height: 974px;
    
    margin: auto;
    
    
}

.about_wrapper{
  padding:42px 0px 42px 0px;
  flex-direction: column;
  height: 974px;
  margin: auto;
  width: 300px;
  
  
  
}

.about_img_container{
    order: 3;
    padding: 0px;
    padding-top: 42px;
    width: 260px;
    margin: auto;
    
}

.about_title{
    font-size: 25px;
    text-align: center;
    max-width: 290px;
    line-height: 32px;
    letter-spacing: 0.06em;
    align-self: center;
    padding-bottom: 3px;
    
}

.about_subtitle1{
    font-size: 15px;
    width: 270px;
    text-align: justify;
    margin: auto;
    padding-bottom: 0;
}

.about_subtitle2{
    font-size: 15px;
    width: 270px;
    text-align: justify;
    margin: auto;
}
.about_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    gap: 22px;
    padding-left: 0px;
}

.about_pets{
    width: 260px;
    height: 353.6px;
}

.friends{
    height: 791px;
    
    padding: 42px 0px 42px 0px;
    margin: auto;
   
    
}

.friends_title{
    font-size: 25px;
    line-height: 130%;
    padding-bottom: 42px;

}

.friends_slider{
    width: 270px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 80px;
    margin: 0 auto;
    padding-bottom: 42px;
}

.first_ar{
    order: 3;
    transform: rotate(180deg);
}

.second_ar{
    transform: rotate(180deg);
}

.card_container{
   padding: 0px 15px 0px 15px;
}    



 .card_box:nth-child(2){
     display: none;
 }

 .card_box:nth-child(3){
    display: none;
}

.help{
    height: 745px;
    padding:42px 0px 42px 0px ;
   
    margin: auto;
}

.help_title{
    font-size: 25px;
    line-height: 130%;
    padding-bottom: 42px;
}

.help_container{
    width: 290px;
    gap: 30px;
    margin: auto;
    justify-content: flex-start;
}

.icon_container{
    width: 130px;
    height: 87px;
   justify-content: space-between;
   gap: unset;
}

.icon_title{
    font-size: 15px;
    line-height: 110%;
}

.help_img{
    width: 50px;
    height: 50px;
}

.donation{
    height: 542.2px;
    padding: 42px 0px 42px 0px;
    
    margin: auto;

}

.about_donation{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    
    

}

.donation_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    width: 300px;
    padding-bottom: 0px;

}

.donation_subtitle{
    padding-bottom: 0px;
    letter-spacing: 0;
    line-height: 160%;
    
}

.donation_container{
    
    flex-direction: column;
    padding:0px;
    width: 300px;
}

.legal_info{
    padding-top: 0px;
    text-align: justify;
    width: 280px;
    line-height: 150%;
    letter-spacing: 0;
   
}

.puppy_img{
    order: 2;
    padding: 0px;
    padding-top: 42px;

}

.dontation_puppy{
    padding-top: 0px;
    width: 260px;
    height: 135.2px;
    
}

.donation_button{
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    padding: 13px 15px 13px 60px;
}

.footer{
    height: 809px;
    padding: 0;
}

.footer_container{
    height: 809px;
    gap: 40px;
    padding-top: 30px;
    max-width: 320px;
    
    
    
}

.footer_puppy{
    padding: 0;
}

.footer_puppy_img{
    width: 260px;
    height: 269px;
}

.left_title{
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
}

.right_title{
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    margin: auto;
   

}

.mail_box{
   margin: 40px 20px 40px 13px;
}

.tel_box{
    margin: auto;
}

.boston_box{
    margin: 40px 0px 40px 0px;
}

.locations{
    margin-top: -2px;
    margin-left: 3px;
}

}
/*Media  styles end*/

@media (max-width: 360px) {
    .header_list.open {
      width: 100%;
    }
  
    .header_logo.open {
      margin-left: 0;
    }
  }