html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    

}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}


/*Header styles start*/
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    
}

.title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  color: #F1CDB3;
  letter-spacing: 0.06em;

}
.subtitle{
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    
}
.header_list{
   display: flex;
   flex-wrap: wrap; 
}
.header_item{
   margin: 16px 35px 17px 0; 
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-weight: 400;
    font-size: 15px;
    color: #CDCDCD;
    line-height: 24px;
    text-decoration: none;
    
}
.header_link:hover, .header_link:focus{
    color: #fafafa;
}
.header_link:active{
    color: #fafafa;
    border-bottom: 3px solid#F1CDB3 ;
}

/*Header styles end*/

/*Intro styles start*/

.intro{
   
    background:url(/shelter/assets/img/start-screen-gradient-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 180px;
    height: 100vh;
    max-height: 908px;
    
   
}

.intro_title{
    max-width: 310px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    padding-bottom: 42px;
    

}

.intro_subtitle{
    max-width: 460px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    padding-bottom: 42px;
}

.button{
    background-color: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
}

.button:hover, .button:focus{
    background-color: #FDDCC4;
}

.intro_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro_container{
    padding-top: 163px;
    max-width: 460px;
    width: 100%;
}

.img_container{
    height: auto;
    max-width: 698px;
    width: 100%;
}
/*Intro styles end*/

/*About styles start*/

.about {
    background: #FFFFFF;
    height: 100vh;
    max-height: 588px;
}

.about_wrapper{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about_img_container{
    height: auto;
    width: 300px;
    width: 100%;
    padding-left: 175px;
    
}

.about_container{
    height: auto;
    width: 430px;
    width: 100%;
    padding:14px 175px 14px 0;
    
}
.about_title{
    width: 370px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 25px;
}
.about_subtitle1{
    width: 430px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
    padding-bottom: 25px;
}

.about_subtitle2{
    width: 430px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C; 
}
/*About styles end*/

/*Our friends styles start*/
.friends{
    background: #F6F6F6;
    height: 100vh;
    max-height: 877px;
}
.friends_wrapper{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.friends_title{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 35px;
line-height: 45px;
letter-spacing: 0.06em;
color: #545454;
max-width: 400px;
padding-bottom:60px ;
}

.friends_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Our friends styles end*/