html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    

}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}


/*Header styles start*/
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    
}

.title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  color: #F1CDB3;
  letter-spacing: 0.06em;

}
.subtitle{
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    
}
.header_list{
   display: flex;
   flex-wrap: wrap; 
}
.header_item{
   margin: 16px 35px 17px 0; 
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-weight: 400;
    font-size: 15px;
    color: #CDCDCD;
    line-height: 24px;
    text-decoration: none;
    
    
}
.header_link:hover, .header_link:focus{
    color: #fafafa;
}
.header_link:active{
    color: #fafafa;
    border-bottom: 3px solid#F1CDB3 ;
}

/*Header styles end*/

/*Intro styles start*/

.intro{
   
    background:url(/shelter/assets/img/start-screen-gradient-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 180px;
    height: 100vh;
    max-height: 908px;
    
   
}

.intro_title{
    max-width: 310px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    padding-bottom: 42px;
    

}

.intro_subtitle{
    max-width: 460px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    padding-bottom: 42px;
}

.button{
    background-color: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    outline: none;
    border: none;
}

.button:hover, .button:focus{
    background-color: #FDDCC4;
}

.intro_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro_container{
    padding-top: 163px;
    max-width: 460px;
    width: 100%;
}

.img_container{
    height: auto;
    max-width: 698px;
    width: 100%;
}
/*Intro styles end*/

/*About styles start*/

.about {
    background: #FFFFFF;
    height: 100vh;
    max-height: 588px;
}

.about_wrapper{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about_img_container{
    height: auto;
    width: 300px;
    width: 100%;
    padding-left: 175px;
    
}

.about_container{
    height: auto;
    width: 430px;
    width: 100%;
    padding:14px 175px 14px 0;
    
}
.about_title{
    width: 370px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 25px;
}
.about_subtitle1{
    width: 430px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
    padding-bottom: 25px;
}

.about_subtitle2{
    width: 430px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C; 
}
/*About styles end*/

/*Our friends styles start*/
.friends{
    background: #F6F6F6;
    height: 100vh;
    max-height: 877px;
    padding: 80px 0px 100px 0px;
    
}


.friends_title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.arrow{
    
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    
    
}

.arrow:focus , .arrow:hover{
    background: #FDDCC4;
    border:none;
    outline: none;
}

.friends_slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.card_container{
    display: flex;
    padding: 0px 53px;
    justify-content: space-between;
    flex-grow: 1;
    height: 435px;
}

.card_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
   
}
.card_title{
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
   letter-spacing: 0.06em;
   color: #545454;
   padding: 30px 0px 30px 0px;
   
   
}

.card_button{
    background: #FAFAFA;
    padding: 15px 45px;
    color: #292929;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card_button:hover, .button:focus{
    background: #FDDCC4;
}

.friends_button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    width: 261px;
    height: 52px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    background: #F1CDB3;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    outline: none;
    border: none;

    
   
    
}

.friends_button:hover, .button:focus{
        background-color: #FDDCC4;
        border: 0;
        outline: none;
    }
/*Our friends styles end*/

/*Help  styles start*/
.help {
    background: #FFFFFF;
    height: 100vh;
    max-height: 611px;
    padding: 80px 0px 100px 0px;
}

.help_title{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 35px;
line-height: 45px;
letter-spacing: 0.06em;
color: #545454;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 60px;
}

.help_first_container{
    padding: 0px 87px 55px 87px;
    display: flex;
    justify-content: space-between;
}

.help_second_container{
    padding: 0px 171px;
    display: flex;
    justify-content: space-between;
    row-gap: 120px;
}

.icon_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_title{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.06em;
color: #545454;

}

.help_img{
    max-height: 60px;
    margin-bottom: 30px;
}


/*Help  styles end*/

/*Dontation  styles end*/

.donation{
    background: #F6F6F6;
    height: 100vh;
    max-height: 426px;
    padding: 80px 143px 100px 143px;
}

.donation_container{
  display: flex;
  align-items: center;

}

.puppy_img{
   padding-right: 30px;
}



.donation_title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-bottom: 20px;

}

.donation_subtitle{
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #545454;
  padding-bottom: 20px;
}

.donation_button{
    
    padding: 10px 15px;
    background: #F1CDB3;
    border-radius: 9px;
    outline: none;
    border:none;
}

.donation_button:focus, .donation_button:hover{
    background-color: #FDDCC4;
        border: 0;
        outline: none;
}

.legal_info{
    max-width: 380px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    text-align: left;
    padding-top: 20px;
}
/*Donation  styles end*/

/*Footer  styles start*/

.footer{
    background: url(/shelter/assets/img/start-screen-gradient-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 350px;
    padding-top: 40px;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left_title{
max-width: 278px;
width: 100%;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 35px;
line-height: 45px;
color: #FFFFFF;
text-align: left;

}

.right_title{
    max-width: 270px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    color: #FFFFFF;
    text-align: left;
    
    
    }

.contacts{
    padding: 16px 160px 60px 0px;  
}     

.locations{
    padding: 16px 160px 60px 0px;
}

.mail_box{
    max-width: 251px;
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:40px 0px 40px 0px;
}
.mail_text{
max-width: 191px;
width: 100%;
height: 23px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #F1CDB3;
text-decoration: none;

}

.tel_box{
    max-width: 239px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.tel_number{
width: 179px;
height: 23px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #F1CDB3;
text-decoration: none;
}

.boston_box{
    width: 302px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 34px 0px 32px 0px;
}

.boston_text{
    width: 260px;
    height: 46px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #F1CDB3;
    text-decoration: none;
    
}

.london_box{
    max-width: 302px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.london_text{
    width: 260px;
    height: 23px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}




/*Footer  styles end*/
